<meta charset="UTF-8">
<div id="leftMenu_navbar" class="sidebar navbar-collapse" role="navigation"  ng-controller="leftMenu">
    <div class="sidebar-nav" ng-init="initLeft();">
        <ul class="nav" id="side-menu"  >
        	<li ng-repeat = "menu in menuList"   
        	    ng-show="!headerTypeShow||headerTypeShow&&menu.expand">
        	    <!-- 没有子菜单的情况 -->
        	    <a  ng-if="menu.children.length==0" 
        	        ng-href="{{server_url}}{{menu.action}}" 
        	        ng-class="{true:'active'}[menu.action.indexOf(pageAction)>=0]"
        	        ng-init="menu.action.indexOf(pageAction)>=0?(menu.expand=true):(menu.expand=false)">
        	        <i class="fa fa-fw" ng-class="menu.imgurl"></i>
        	        <span >{{menu.name|translate }}</span>
        	    </a>
        	    <!-- 有子菜单的情况-->
				<a ng-if="menu.children.length>0"
				    data-toggle="collapse" data-target="#_{{menu.name}}">
					<i class="fa  fa-fw" ng-class="menu.imgurl"></i>
	           		<span >{{menu.name|translate}}</span>
	           		<span class="fa fa-angle-down pull-right"></span>
	            </a>
	            <!-- 子菜单循环 -->
        		<ul ng-if="menu.children.length>0" class="nav nav-second-level collapse " id="_{{menu.name}}"  >
        			<li ng-repeat="sub in menu.children">
        				<a ng-href="{{server_url}}{{sub.action}}"   
        				   ng-init="parentcollapse(sub.action,menu.name,$parent.$index,sub.functions)" 
        				   ng-class="{true:'active'}[sub.action.indexOf(pageAction)>=0]"  >
        				   {{sub.name|translate}}
        				 </a>
        			</li>
                </ul>
        	</li>
        </ul>
    </div>
</div>

<script>
 $(function(){
	sliderCountroller();
});
  $(window).resize(function() {
	 setHead();
}); 
$("#side-menu").slimScroll({
	height: '100%',
	size: '4px',
	opacity: .2
});
 /*设置属性*/
  function setHead()
	{        //通过controller来获取Angular应用
		    var appElement = document.querySelector('[ng-controller=leftMenu]');
		    //获取$scope变量
	        var $scope = angular.element(appElement).scope();
	        //调用headerTypeShow变量，并改变headerTypeShow的值
	        $scope.menuShow();
	        //上一行改变了headerTypeShow的值，如果想同步到Angular控制器中，则需要调用$apply()方法即可
	        $scope.$apply();
	}

 
/**
 * @sliderCountroller
 * 
 * **/

function sliderCountroller()
{
	/* 绑定菜单事bootstrap折叠事件*/
		$("body").delegate("#side-menu","show.bs.collapse", function (currentDom) {
			$('#side-menu ul').each(function(){
				var id=$(this).attr("id");
				if(id!=currentDom.target.id)
				{
					$(this).removeClass("in");
				}
			});
		});
}
</script>