<meta charset="UTF-8">
<div class="modal-dialog" ng-controller="addRole">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">{{'ADD_USER.ADD_USER'|translate}}</h4>
        </div>
        <div class="modal-body">       	
        	<form action="#" method="post" id="theForm" class="form-custom">
				<div class="form-group">
					<div><!-- 校验信息添加时候有错误，为了兼容校验信息显示位置的错误（见formValid.js第365行，表单校验的灵活性有待推敲），添加此div，呵呵哒~ -->
						<label class="form-label">{{'ADD_USER.ROLE_NAME'|translate}}</label>
						<input type="text" class="form-control" id="roleName" ng-model="role.name" name="name" id="name" maxlength="20" />
					</div>
				</div>
				<div class="form-group">
					<label class="form-label">{{'ADD_USER.NOTE'|translate}}</label>
					<textarea class="form-control" ng-model="role.disc"></textarea>
				</div>
			</form>     	
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary  m-r-8" ng-click="editRole(role.id)">{{'ADD_USER.CONFORM'|translate}}</button>
            <button type="button" class="btn btn-primary  m-l-8" data-dismiss="modal">{{'ADD_USER.CANCLE'|translate}}</button>
        </div>
    </div>
</div>
