<meta charset="UTF-8">
<div class="modal-dialog" ng-controller="myDataController">
    <div class="modal-content" >
        <div class="modal-header">
        </div>
        <div class="modal-body">       	
        	<div class="row clearfix">
        		<div class="col-lg-12">
        			<div class="row p-b-15">
        				<div class="col-lg-12 p-b-15">
        					<div class="search-group">
                           		<div class="search-inline">
                            		<input type="search" class="form-control" placeholder="{{'OPEN_APPOINT_REPRESENTATIVE.PLEASE_INPUT'|translate}}" ng-model="queryKey">
                                	<span class="btn-group"><button type="button" class="btn btn-primary waves-effect" ng-click="query()">{{'OPEN_APPOINT_REPRESENTATIVE.SEARCH'|translate}}</button></span>
                            	</div>
                           	</div>
        				</div>
        				<div class="col-lg-1 p-r-3">{{'OPEN_APPOINT_REPRESENTATIVE.HAVE_CHOSEN'|translate}}</div>
        				<div class="col-lg-11 p-l-3">
		        			<div id="chosenAll">
		        				<span class="chosen" ng-show="showFlag"></span>
		        				<span class="chosen" ng-repeat="data in arrList"><i class="fa fa-times-circle-o" ng-click="deleteOnly(data.productId)"></i>{{data.productName}}</span>
		        			</div>
        				</div>
        			</div>
        		</div>
        		<div class="col-lg-12"></div>
        	</div>
        	<div class="table-responsive m-b-0">
        		<table id="tablePost" class="table table-bordered table-striped m-b-0">
        			<thead>
        				<tr>
        					<th width="4%" data-name="onlyList">
        						<label class="checkbox-inline">
								</label>
							</th>
        					<th style="text-align:center">{{'NETWORK.PRODUCT_NAME'|translate}}</th>
                    		<th style="text-align:center">{{'NETWORK.PRICE'|translate}}</th>
                    		<th style="text-align:center">{{'NETWORK.TYPE'|translate}}</th>
        				</tr>
        			</thead>
        			<tbody id="box">
        				<tr ng-repeat="data in dataList">
        					<td width="4%" data-name="onlyList">
        						<label class="checkbox-inline">
        							<input type="radio" name="product" class="filled-in chk-col-blue" data-checkBoxname="listCheckbox" ng-click="checkOnly(data.productId,data.productName);" data-checkName="{{data.productName}}" id="{{data.productId}}" value="{{data.productId}}" ng-checked="getChecked(data.productId);">
        							<label for="{{data.productId}}" data-forId="{{data.id}}" ></label>
        						</label>
        					</td>
        					<td width="16%">{{data.productName}}</td>
        					<td width="40%">{{data.listPrice}}</td>
        					<td width="40%">{{data.productTypeName}}</td>
        				</tr>
        				
        			</tbody>
        		</table>
        	</div>
			<div class="table-tips">
				<div class="choose-data align-center hide">
              		<span class="error-block">
              			<i class="fa fa-exclamation-triangle"></i>
              			对不起，没有查询到您需要的数据!
              		</span>
              	</div>
              	<div class="no-data align-center hide" id="tabNoData">
              		<span class="error-block">
              			<i class="fa fa-exclamation-triangle"></i>
              			暂无相关数据！
              		</span>
              	</div>
			</div>
			<!-- / .table-tips -->
			<div class="row" id="tabPageNav">
  			    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      				<div class="checkAll-group">&nbsp;</div>
      			</div>
      			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
      				<div class="dataTables_paginate">
      					<ul class="pagination pagination_reset" id="pageNav" data-ng-init="showInFo()"></ul>
      				</div>
      			</div>
			</div>
			<!-- / .tabPageNav -->
        </div>
        <div class="modal-footer align-center">
            <button type="button"  class="btn btn-primary waves-effect m-r-8"  ng-click="confirmSelectAssignPersion()">{{'OPEN_APPOINT_REPRESENTATIVE.CONFIRM'|translate}}</button>
            <button type="button" class="btn btn-primary waves-effect"  data-dismiss="modal">{{'OPEN_APPOINT_REPRESENTATIVE.BACK'|translate}}</button>
        </div>
    </div>
</div>
